spring:
  config:
    activate:
      on-profile: local # 환경 이름 설정
  datasource:
    url: jdbc:mysql://localhost:3306/suzip
    username: root
    password: eldnj521!
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000
  security:
    user:
      name: suzip
      password: suzip
    oauth2:
      client:
        registration:
          kakao:
            client-id: 928ed937b1265fe6fe4b31ef64139a57
            client-secret: rBX6mmtMDsFuy4OxjH2vFhwK9BmCfu2u
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: # https://developers.kakao.com/docs/latest/ko/kakaologin/common#user-info
              - profile_nickname
              - profile_image
              - account_email
            redirect-uri: "http://localhost:8080/login/oauth2/code/kakao"
            client-name: Kakao

          naver:
            client-id: UZftLc05J9yDRDRnz3tO
            client-secret: q3yCg8AmUU
            authorization-grant-type: authorization_code
            scope: # https://developers.kakao.com/docs/latest/ko/kakaologin/common#user-info
              - name
              - email
            redirect-uri: "http://localhost:8080/login/oauth2/code/naver"
            client-name: Kakao

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            #            user-info-authentication-method: header
            user-name-attribute: response

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-info-authentication-method: header
            user-name-attribute: id # Kakao 응답 값 id, connected_at, properties, kakao_account 중 id 지정

  jwt:
    secret: vmfhaltmskdlstkfkdgodyroqkfwkdbalroqkfwkdbalaaaaaaaaaaaaaaaabbbbb


