spring:
  jwt:
    secret: asfnafnkasbfakashdjgavdgah
  config:
    activate:
      on-profile: dev # 환경 이름 설정
  datasource:
    url: jdbc:mysql://suzip-dev.c5yo0qwgcjob.ap-northeast-2.rds.amazonaws.com:3306/suzip
    username: root
    password: suzip2024
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
#        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000
  security:
    user:
      name: suzip
      password: suzip

    oauth2:
      client:
        registration:
          kakao:
            client-id: 928ed937b1265fe6fe4b31ef64139a57
            client-secret: rBX6mmtMDsFuy4OxjH2vFhwK9BmCfu2u
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email # https://developers.kakao.com/docs/latest/ko/kakaologin/common#user-info
            redirect-uri: "http://52.79.79.17:8080/login/oauth2/code/kakao"
            client-name: Kakao

          naver:
            client-id: UZftLc05J9yDRDRnz3tO
            client-secret: q3yCg8AmUU
            authorization-grant-type: authorization_code
            scope: name, email, profile_image
            redirect-uri: "http://52.79.79.17:8080/login/oauth2/code/naver"
            client-name: Naver


          google:
            client-name: Google
            client-id: 410753601691-nh796dddg45o1h45127i2u23lvfvvtm0.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://52.79.79.17:8080/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope: profile,email

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-info-authentication-method: header
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id



